<div class="find-footer">
                <div class="find-footer-title">
                    <a href="#"><h2>Goo-It</h2></a>
                </div>
                <div class="find-footer-content">
                    株式会社G00　TEL○○-○○○○-○○○○<p>〒○○○-○○○○</p>
                </div>
                <div class="find-footer-navi">
                    <ul>
                        <li><a href="#">プライボリシー</a></li>
                        <li><a href="#">お問い合わせ</a></li>
                        <li><a href="#">サイトマップ</a></li>
                        <p>© 200x-2015 Goo,Inc.</p>
                    </ul>
                </div>
</div>