<div class="top-right">
		<%= image_tag 'image1111.jpg' %>
</div>
<div class="top-left">
		<% @page_title = "Goo-Itで大人の隠れ家" %>
		<h1><%= @page_title %></h1>
		<p style="letter-spacing:5px;">Goo-It(グーイット)は,
		美味しいちょっとお洒落で隠れ家的なお店を探せるサービスです。さらにいきたいお店があったら「いってみたい」に登録し,もしかしたらあなたと同じようにそのお店に行きたいと思っているヒトがいるかもしれない。いってみたいけど1人じゃ入りずらい。1人で飲むよりも誰かと素敵な時間を。スケジュールを調整してグイッといっちゃいましょう。</p>
</div>