<div class="page">

 <div id="header">
   <div id="top-header">
   	<div class="header-left"><h1 style="float:left;margin-left:50px;">Goo it</h1></div>
   	<div class="header-right">
   		<ul>
   			<li>Search</li>
   			<li>Info</li>
   			<li>Login</li>
   		</ul>
   	</div>
   </div>
   <div id="main-header">
   <h1 style="color:white;">Goo It</h1>
   <strong style="color:white">大人の隠れ家が探せるグルメサイト</strong>
   </div>
 </div>
 <div id="menu-container">
 	<div class="menu">
 		<ul>
 			<li>ホーム</li>
 			<li>ランキング</li>
 			<li>地域から探す</li>
 			<li>ジャンルから探す</li>
 			<li></li>
 		</ul>
 	</div>
 </div>
</div>